{% extends 'base.html' %}
{% load blog_tags %}
{% block main %}

    <div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <div class="post category-entry">
                    <ul>
                    {% for category, article_list in article_dic.items %}
                    <li>
                        <a href="{% url 'category' category.id %}">{{ category.name }} <span class="post-count">({{ category.num_article }})</span></a>
                        <ul>
                            {% for article in article_list %}
                                <li>
                                    <a href="{% url 'article_page' article.id %}">{{ article.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% empty %}
                        暂无分类！
                    {% endfor %}
                    </ul>
                </div>
                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                {% if is_paginated %}
                <div class="pagination">
                    <ul>
                        {% if first %}
                        <li><a href="?page=1">1</a></li>
                        {% endif %}
                        {% if left %}
                            {% if left_has_more %}
                                <li><span>...</span></li>
                            {% endif %}
                            {% for i in left %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                        {% endif %}
                        <li class="current-page"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                        {% if right %}
                            {% for i in right %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                            {% if right_has_more %}
                                <li><span>...</span></li>
                            {% endif %}
                        {% endif %}
                        {% if last %}
                            <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </main>
            <aside class="col-md-3">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    {% get_latest_articles as latest_articles %}
                    <ul>
                        {% for article in latest_articles %}
                        <li>
                            <a href="{% url 'article_page' article.id %}">{{ article.title }}</a>
                        </li>
                        {% empty %}
                            <div class="no-post">暂时还没有发布文章！</div>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    {% archives as archive_list %}
                    <ul>
                        {% for archive in archive_list %}
                        <li>
                            <a href="{% url 'archive' archive.year archive.month %}">{{ archive.year }} 年 {{ archive.month }} 月</a>
                        </li>
                        {% empty %}
                            暂无归档！
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    {% get_categories as categories %}
                    <ul>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'category' category.id %}">{{ category.name }} <span class="post-count">({{ category.num_article }})</span></a>
                        </li>
                        {% empty %}
                        暂无分类！
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    {% get_tags as tags %}
                    <ul>
                        {% for tag in tags %}
                        <li>
                            <a href="{% url 'tag' tag.id %}">{{ tag.name }}</a>
                        </li>
                        {% empty %}
                        暂无标签！
                        {% endfor %}
                    </ul>
                </div>
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
            </aside>
        </div>
    </div>
</div>

{% endblock %}